:root{
    --primary-color: #0A1128;
    --white-color: white; 
    --light-gray-color: gray; 
    --gap: 3rem;
    --secondary-color: crimson;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth !important;
    scroll-behavior: smooth 1000ms;
}
 
body{
    font-size: 2rem;
    color: var(--primary-color);
}

.menu .menu-content h1{
    font-size: 2rem;

}
h1{
    font-size: 6rem;
    text-transform: uppercase;
}

h1 a {
    border: 2rem solid white;
    
}

h2{
    font-size: 6.0rem;
    text-transform: uppercase;
}

h3{
    font-size: 5rem;

}

h4{
    font-size: 4.5rem;
}

h5{
    font-size: 4.0rem;
}

h6{
    font-size: 2.0rem;
}

a{
    text-decoration: none;
}

p{
    font-size: 2.5rem;
    margin-bottom: 3.5rem;
}

table{
    min-width: 36rem;
    width: 100%;
    border-collapse: collapse;
}

table caption{
    text-align: left;
    margin-bottom: 1.7rem;
    font-style: italic;
    font-size: 2rem;
}
table td, table th{
    padding: 0.6rem;
    border: 0.1rem solid var(--light-gray-color);
    text-align: left;
}
table th{
    background: rgb(175, 173, 173, 0.2);
}

tfoot td{
    background: rgb(175, 173, 173, 0.2);
}
.main-bg{
    background-image: url("../img/main.svg");
    background-position: center center;
    background-size: cover;
    color: var(--white-color);

}

.white-bg{
   background: var(--white-color);
   color: var(--primary-color);
}

.main-content{
    max-width: 120rem;
    margin: 0 auto;
    padding: 10rem var(--gap);
}
.section{
    min-height: 100vh;
}

.intro-content{
    display: grid;
    position: relative;
   /* top: 4rem; */
    grid-template-columns: 1fr 1.5fr;
    gap: var(--gap);
    min-height: 100vh;
}

.intro-elementos, .intro-img{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.intro-elementos, h2{
    font-size: 4.0rem;
    margin-bottom: 5.0rem;
}

.intro-img img{
    max-width: 100%;
    height: auto;
}
.spacing-menu{
    height: 5.0rem;
}
.menu-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0;
    padding-bottom: 0;
}

.menu{
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    border-bottom: 0.1rem solid rgb(180, 180, 180, 0.7);
}

.menu h1{
    font-size: 2.3rem;
    color: var(--primary-color)
}

.menu h1 a{
    color: inherit
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu ul li a {
    display: block;
    padding: 2rem;
    font-size: 1.8rem;
    color: var(--primary-color);
    position: relative;
  }
  
.menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background:var(--secondary-color);
    transition: all 300ms ease-in-out;
  }
  
.menu ul li a:hover::after {
    width: 50%;
    left: 25%;
  }

.top3-content{
    min-height: 100vh;
    max-width: 64rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    text-align: center;
}
.grid-one{
    overflow-x: hidden;
}
.grid-one-content{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    min-height: 100vh;
}

.grid-main-heading{
    margin-bottom: 1rem;
}
.grid-description{
    padding-bottom: 5rem;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: var(--gap);
    counter-reset: grid-counter;
}

.grid h3{
    font-size: 3rem;
    position: relative;
    padding-left: 8rem;
    padding-bottom: 2rem;
}

.grid h3::before{
    counter-increment: grid-counter;
    content: counter(grid-counter);
    position: absolute;
    font-size: 8rem;
    font-style: italic;
    top: -2rem;
    left: 2rem;
    transform: rotate(5deg);
}

.gallery-img{
    width: 100%;
    max-width: 36rem;
    max-height: 36rem;
    overflow: hidden;
}

.gallery-img img{
    transition: all 300ms ease-in-out;
}

.gallery-img img:hover{
    transform: translate(-3%,3%) scale(1.2) rotate(5deg); 
}

.contact-form{
    grid-column: span 2;
}

.contact-form .form-grid{
    border: none;
    display: flex;
    flex-flow: row wrap;
    gap: var(--gap);
}

.form-grid legend{
    font-size: 4.0rem;
    margin-bottom: 4.0rem;
    font-style: italic;
}

.form-group{
    flex: 1 1 320px;
}

.form-group label{
    display: block;
}

.form-group input ,
.form-group textarea{
    border: none;
    background: var(--white-color);
    padding: 1.5rem 2rem;
    width: 100%;
    font-size: 2.5rem;
    color: rgb(128, 128, 128);
}

body .full-width{
    width: 100%;
    flex: 1 1 100%;
}

.form-group .send-button,
.form-group .send-clear{
    border: 0.5rem solid var(--white-color);
    background: none;
    color: var(--white-color);
    padding: 1.5rem 2.0rem;
    font-size: 2.5rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    position: relative;
}

.form-group .send-button:hover,
.form-group .send-clear:hover{
    background: var(--white-color);
    color: var(--primary-color);
}


footer{
    width: 100%;
    height: 20rem;
    background: var(--white-color);
    color: var(--primary-color);
    text-align: center;
}

@media (max-width: 800px) {
    .intro-content, .grid{
      grid-template-columns: 1fr;
    }
    .gallery-img{
        width: 100%;
        max-width: 100%;
        max-height: 100%;
    }
    .gallery-img img{
        width: 100%; 
    }
}
